<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Huy's Study Materials</title>
        <meta name="description" content="A website including all of the study materials created by Huy.">
        <meta name="author" content="HMP">

        <link rel="stylesheet" href="css/index.css">
    </head>

    <body>
        <h1>Study Materials</h1>
        <p>
            Hello! Welcome, my name is Huy. I would like to share my study materials with you.<br>
            I use quizlet as a flashcard tool to study most of the difficult subjects in school.<br>
            Here is the link: <a href="https://quizlet.com/Pham__Huy/sets">https://quizlet.com/Pham__Huy/sets</a><br>
        </p>
        <p>
            <ul>
                <% for (const [subjectName, subjectList] of Object.entries(content)) {%>
                    <h3><%=subjectName%></h3>
                    <%for (const [author, authorList] of Object.entries(subjectList)) {%>
                        <h4>With best regards and respect, made by <%=author%>.</h4>
                        <%for (const [chapter, chapterList] of Object.entries(authorList)) {%>
                            <h5>Chapter <%=chapter%></h5>
                            <%for (const [lesson, lessonLink] of Object.entries(chapterList)) {%>
                                <li>Key#<%=lesson%>: <a target="_blank" href="<%=lessonLink%>"><%=lessonLink%></a></li>
                            <%}%>
                        <%}%>
                    <%}%>
                <%}%>
            </ul>
        </p>

        <script src="js/automate-links.js" type="text/javascript"></script>
    </body>
</html>
